<html>
<head>
	<title>Studuwu</title>
	<meta charset="UTF-8">
	<!--
	<meta name="viewport" content="width=device-width">
	-->
	<meta name="description" content="A nice study tool for cool stuff and things">
	<meta name="keywords" content="Studuwu, uwu, study, tool, study tool, books, CSE 170, COGS 120, assignment">
	<link rel="stylesheet" href="/css/fontawesome.css">
	<link rel="stylesheet" href="/css/home.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<script type="text/javascript" src="/js/navigation.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	{{> facebook}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
	<script src="/js/facebook.js"></script>
	<script src="/js/sound.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	
	<!-- Progress bar -->
	
	<!-- TODO: add in style sheets and javascript stuff for the backend -->
</head>

<body>

	{{#if res}}
		<script>alert("Success! Book added.");</script>
	{{/if}}

	<div class="header">
		<!-- Useful unicode for later  &#8592; -->
		<!-- Menu Button -->
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">   &times;
			</a>
			<hr>
			<!-- Each Book-->
			<a href="/add/{{userID}}"> Add Book &#10133;  </a>
			<hr>
			{{#each books}}
				<a href="/home/2164106620314937" id="{{book_count}}"> {{name}} </a>
				<hr>
			{{/each}}
			<a href="/help/{{userID}}">Help</a>
			<hr>
			<a onclick="logout();"> Log Out </a>
			<hr>
		</div>

		<button class="menu" onclick="openNav()">
			&#9776;
		</button>
		
		<!-- App name -->
		<h1> STUDUwU </h1>

		<!-- Button for spacing -->
		<button class="menu">
			<a href="/edit/{{userID}}" style="text-decoration:none;color:black">
				&#9998
			</a>
		</button>
	</div>

	<script type="text/javascript">
		function changeActive(){

		}
	</script>
	{{#each books}}
		{{#if active}}
			<div class="bookInfo">
				<b> {{name}} </b>
				<p> Pages left in session: {{page_num}} minutes</p>
				<p> Estimated Time Left: {{time_per_page}} minutes</p>
				<p> Break Time: {{rest_time}} </p>
				<p> Reminder Method: {{reminder}} <p>
					
				<!-- Progress Bar -->
				<div class="progress">
					<span style="width: 78%"></span>
				</div>
			</div>
		{{/if}}
	{{/each}}


	<div class="start">
		<button onclick="clicked();"> 
			Start Reading! 
		</button>
	</div>
		
	<div class="uwu">
		<footer>
			<h4>UwU</h4>
		</footer>
	</div>

	<script>
	function clicked() {
		let tmp = {{bookID}};
		if(tmp === "nonexist") {
			window.location.pathname = "/add" + {{userID}};
		} else {
			window.location.pathname = "/reading/" + {{userID}} + "/" + {{bookID}};
		}
	}
	</script>
</body>
</html>