<html>
<head>
	<title>Studuwu</title>
	<meta charset="UTF-8">
	<!--
	<meta name="viewport" content="width=device-width">
	-->
	<meta name="description" content="A nice study tool for cool stuff and things">
	<meta name="keywords" content="Studuwu, uwu, study, tool, study tool, books, CSE 170, COGS 120, assignment">
	<link rel="stylesheet" href="/css/fontawesome.css">
	<link rel="stylesheet" href="/css/home.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<script type="text/javascript" src="/js/navigation.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	{{> facebook}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
	<script src="/js/facebook.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	
	<!-- Progress bar -->
</head>

<body>

	{{#if res}}
		<script>alert("Success! Book added.");</script>
	{{/if}}

	{{#if updated}}
		<script>alert("Success! New book chosen.");
		window.location.pathname = "/home/" + {{userID}};
		</script>
	{{/if}}

	<div class="header">
		<!-- Useful unicode for later  &#8592; -->
		<!-- Menu Button -->
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">   &times;
			</a>
			<hr>
			<!-- Each Book-->
			<a href="/add/{{userID}}"> Add Book &#10133;  </a>
			<hr>
			{{#each books}}
				<a href="/select/{{ownerID}}/{{name}}" id="{{book_count}}"> {{name}} </a>
				<hr>
			{{/each}}
			<a href="/help/{{userID}}">Help</a>
			<hr>
			<a onclick="logout();"> Log Out </a>
			<hr>
		</div>

		<button class="menu" onclick="openNav()">
			&#9776;
		</button>
		
		<!-- App name -->
		<h1> STUDUwU </h1>

		<!-- Button for spacing -->
		<button class="menu">
			<a href="/edit/{{userID}}" style="text-decoration:none;color:black">
				&#9998
			</a>
		</button>
	</div>

	{{#each books}}
		{{#if active}}
			<div class="bookInfo">
				<p> 
					<b> {{name}} </b>
				</p>

				<p> 
					<u>Pages left in session</u>:
						<br>{{page_num}} pages
					
				</p>

				<p> 
					<u>Estimated Time Left</u>:
						<br>{{time_per_page}} minutes
				</p>

				<p> 
					<u>Break Time</u>:
						<br>{{rest_time}} minutes
				</p>

				<p> 
					<u>Reminder Method</u>:
						<br>{{reminder}} 
				</p>
			</div>
		{{/if}}
	{{/each}}


	<div class="start">
		{{#if enabled}}
			<button onclick="clicked();"> 
				Start Reading! 
			</button>
		{{else}}
			<h1> 
				Hello New User! <br>
				<br>
				Welcome to Studuwu, an app that would help you read and go UwU!<br>
				<br>
				To get started, click on the "Add Book" button below!<br>
			</h1>
			<a href="/add/{{userID}}"> Add Book &#10133;  </a>
		{{/if}}
	</div>
		
	<div class="uwu">
		<footer>
			<a href="/home/{{userID}}" style="text-decoration:none;color:black ">UwU</a>
		</footer>
	</div>

	<script>
		function clicked() {
			let path = "/reading/" + {{userID}} + "/" + {{bookID}};
			window.location.pathname = path;

		}
	</script>
</body>
</html>