<html>
<head>
	<title>	Reading </title>
	<!--
	<meta name="viewport" content="width=device-width">
	-->
	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="/css/reading.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/sound.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body class="calm">

<!-- Header of the page-->
<div class="header">
	<!-- Useul unicode for later&#9776;-->
	<!-- Back Button -->
	<button onclick="window.location.pathname='/home/{{userID}}'" class="back"> 
		&#10094;
	</button>
	<!-- App name -->
	<h1> STUDUwU </h1>

	<!-- Help Button -->
	<button class="help">  
	</button>
	
</div>

<!-- Get the audio and amount of time-->

	{{#each books}}
		{{#if active}}
			<script type="text/javascript">
				var readingTime = {{time_per_page}};
				var breakTime = {{rest_time}};
				//var numBreaks = {{num_breaks}};
				let reminder_src = "/images/{{reminder}}.mp3";
			</script>
		{{/if}}
	{{/each}}

<!-- Subtitle-->
<!-- <div class="loader"></div> -->
<img src="/images/tenor.gif">
<div class="title" id="title">
	<!--<marquee> 
		<h1> <b> SHHH! I'm trying to read! </b> </h1>
	</marquee> -->

	<h1> <b> SHHH! Reading in progress! </b> </h1>
</div>

<div class="status" id="status">
	<h1><b></b></h1>
</div>

<div class="time" id="time">
	<h1><b></b></h1>
</div>

<audio id="sound" src="" type="audio/mp3"></audio>
<script type="text/javascript">
	document.getElementById("sound").src = reminder_src;
	playSound(readingTime, breakTime, 3);
</script>

<button onclick="pause()" class="pause" id="pause">
		Pause
</button>

<button onclick="play()" class="play" id="play" style="display: none">
		Resume
</button>


<div class="uwu">
	<footer>
		<a href="/home/{{userID}}" style="text-decoration:none;color:black ">UwU</a>
	</footer>
</div>
</body>
</html>